html {
  height: 100%;
  width: 100%;
}
/* Give a purpe background and header in white */
body {
  background-color: #4B0082;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* Center the content */