html {
  height: 100%;
  width: 100%;
}
/* give the header a purple background and white text */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
}
/* make the header sticky */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
header {
  background-color: #007BFF;
  color: white;
  padding: 10px;
  text-align: center;
}